<div class="container">
  <h1>Contact List
    <a [routerLink]="['/contact-create']" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>
  </h1>   
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>City</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contacts">
        <td>{{ contact.name }}</td>
        <td>{{ contact.city }}</td>
        <td>{{ contact.email }}</td>
        <td><a [routerLink]="['/contact-detail', contact.id]">Show Detail</a></td>
      </tr>
    </tbody>
  </table>
</div>